:root {
    --primary-color: #AD333C;
    --secondary-color: #962d34;
    --body-color: #000;
    --backgroundcolor: #fbfbfb;
    --link-color: #fff;
    --blockqoute-color: #eee;
    --blockqoute-textcolor: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 14px;
    color: var(--body-color);
}

.background {
    background-color: var(--backgroundcolor);
}

nav ul {
    list-style: none;
}

nav a {
    color: inherit;
    text-decoration: none;
}

section ul {
    font-size: 15px;
}

section li {
    line-height: 1.875em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


li {
    margin-left: .5rem;
    margin-right: .5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.wrapper {
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: var(--primary-color);
}

#logoimage {
    max-height: 50px;
}

.button-apply {
    text-decoration: inherit;
    justify-content: center;
    letter-spacing: .1em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: var(--primary-color);
    color: var(--link-color);
    border-radius: 5px;
}

.submenu {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    border-bottom: 2px solid;
    border-bottom-width: medium;
    box-shadow: 0px 15px 10px -15px rgba(149, 157, 165, 0.5);
    color: var(--primary-color);
    background-color: var(--backgroundcolor);
    position: sticky;
    top: 0;
}

.submenu a {
    color: inherit;
    text-decoration: none;
}

.submenu li:hover {
    background-color: var(--secondary-color);
    color: var(--link-color);
}

.submenu-text {
    padding-right: 5rem;
}

.submenu li {
    padding: .5rem;
    margin-left: 0;
    margin-right: 0;
}

#selected-submenu {
    background-color: var(--primary-color);
    color: var(--link-color);
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
}

.content {
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 1200px;
    margin: auto;
}

.content p {
    line-height: 1.875em;
    font-size: 15px;
}

h1 {
    margin-bottom: 2rem;
}

h2 {
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1em;
}

#selected-menu {
    border-bottom: solid 2px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    border-top: 2px solid;
    color: var(--primary-color);
    background-color: var(--backgroundcolor);
    padding-bottom: 2rem;
    padding-top: .5rem;
}

.social-logo {
    filter: invert(26%) sepia(65%) saturate(2291%) hue-rotate(334deg) brightness(77%) contrast(85%);
}

/* HERO */
.hero {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/roman.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero .btn {
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 2px;
    font-weight: 600;
    text-transform: uppercase;
}

.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}


.hero-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* TABLAZAT */
table.test-table {
    background-color: #adadad;
    width: 400px;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}

table.test-table td,
table.test-table th {
    padding: 5px 10px;
}

table.test-table tbody td {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

table.test-table td:nth-child(even) {
    background: var(--blockqoute-color);
}

table.test-table thead {
    background: var(--primary-color);
}

table.test-table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border-left: 2px solid var(--primary-color);
}

table.test-table thead th:first-child {
    border-left: none;
}

table.test-table tfoot td {
    font-size: 13px;
}

table.test-table tfoot a {
    display: inline-block;
    background: var(--link-color);
    color: var(--primary-color);
    padding: 2px 8px;
    border-radius: 5px;
}

/* IDEZET */
blockquote {
    width: fit-content;
    margin: auto;
}

blockquote p {
    padding: 15px;
    color: var(--blockqoute-textcolor);
    background-color: var(--blockqoute-color);
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}


/* URLAP */

legend {
    color: var(--link-color);
    background-color: var(--primary-color);
    padding: 3px 5px;
    font-size: 20px;
}


form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 20px 0 var(--primary-color);
}


input {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
}

select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
}

#textarea-tapasztalat,
#textarea-motivation {
    width: 100%;
    height: auto;
    resize: none;
}

.form-field:hover p,
.form-field:hover i,
input:hover::placeholder {
    color: var(--primary-color);
}

.form-field input:hover,
textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 var(--primary-color);
    color: var(--primary-color);
}

.form-field {
    position: relative;
    padding: 10px;
}

.form-field span {
    color: red;
}


.form-field i {
    right: 2%;
    top: 30px;
    z-index: 1;
}


.btn-block {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    font-size: 16px;
    color: var(--link-color);
    cursor: pointer;
}

.form-text {
    margin-bottom: 1rem;
}

@media (min-width: 568px) {

    .form-field-inline {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .form-field-inline input,
    .form-field-inline div {
        width: calc(50% - 20px);
    }

    .form-field-inline div input {
        width: 100%;
    }

    .form-field-inline div label {
        display: block;
        padding-bottom: 5px;
    }
}

/* ANIMALAS */
.content .slide-up {
    animation: 1s slide-up;
}

@keyframes slide-up {
    from {
        margin-top: 20%;
        height: 100%;
    }

    to {
        margin-top: 0%;
        height: 100%;
    }
}

.not-selected-menu:after {
    display: block;
    content: '';
    border-bottom: solid 2px var(--primary-color);
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
}

.not-selected-menu:hover:after {
    transform: scaleX(1);
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    :root {
        --backgroundcolor: #212529;
        --body-color: white;
        --link-color: #dee2e6;
        --blockqoute-color: #6c757d;
        --blockqoute-textcolor: #dee2e6;
    }
}